/* Font */
@import url(https://fonts.googleapis.com/css?family=Baloo);

/* CSS reset */
html, body {
    margin: 0;
    padding: 0;
}

/* Background */
body {
	/* Image from http://subtlepatterns.com */
    background: url('http://subtlepatterns.com/patterns/congruent_outline.png');
    font-family: 'Baloo', cursive;
    text-align: center;
}

/* Text */
h1 {
    color: #fff;
    font-size: 8em;
    line-height: 0;
    text-shadow: 0 1px 0 #ccc, 0 .05em 0 #bbb, 0 .1em .15em rgba(0,0,0,.4);
}

.title {
    margin-bottom: 0.75em;
}

/* Timer */
#chrono {
    background: linear-gradient(140deg, #333 0%, rgba(0,0,0,.7) 60%, #333 61%, #333 100%);
    border: .25em solid #ff5845;
    border-radius: .75em;
    box-shadow:  0 .4em 0 #BD3E31, 0 .5em .5em rgba(0,0,0,.5);
    color: #fff;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    margin-bottom: 1em;
    padding: .5em 1em;
    text-shadow: 0 0 5px #bbb;
    transform: perspective(500px) rotateX(25deg);
}

/* Buttons */
.main-button {
    box-shadow: 0 0 .1em rgba(0,0,0,.3);
    border: none;
    cursor: pointer;
    border-radius: .5em;
    color: #fff;
    font-family: 'Baloo', cursive;
    font-size: 3em;
    padding: .5em 1em;
    outline: none;
    transition: all .1s ease-in-out;
}

.main-button:active {
    box-shadow: 0 0 .1em rgba(0,0,0,.5);
    transform: translate(0, 5px);
}

.inside-button {
    box-shadow: 0 0 .1em rgba(0,0,0,.3);
    border: none;
    cursor: pointer;
    border-radius: .5em;
    color: #fff;
    font-size: 1em;
    outline: none;
    transition: all .1s ease-in-out;
    width: 1.25em;
}

.inside-button:active {
    box-shadow: 0 0 .1em rgba(0,0,0,.5);
    transform: translate(0px, 2px);
}

.timepicker {
    display: inline-block;
    border: none;
    border-radius: .3em;
    color: #fff;
    font-size: 3em;
    padding: .5em .5em;
    outline: none;
    transition: all .1s ease-in-out;
}
.yellow {
    background-color: #e0ad5c;
    border-bottom: 8px solid #c18f49;
    text-shadow: 0px 3px #c18f49;
}
.yellow:hover {
    background-color: #CEA250;
    border-bottom: 8px solid #a57e35;
    text-shadow: 0px 3px #a57e35;
}
.dark-blue {
    background-color: #46a7d1;
    border-bottom: 8px solid #2e8fb8;
    text-shadow: 0px 3px #2197c1;
}
.dark-blue:hover {
    background-color: #44a1c7;
    border-bottom: 8px solid #258da6;
    text-shadow: 0px 3px #1c8ca7;
}
.red {
    background-color: #E74C3C;
    border-bottom: 8px solid #BD3E31;
    text-shadow: 0px 3px #BD3E31;
}
.red:hover {
    background-color: #db4436;
    border-bottom: 8px solid #ba382c;
    text-shadow: 0px 3px #ba382c;
}
.green {
    background-color: #82BF56;
    border-bottom: 8px solid #669644;
    text-shadow: 0px 3px #669644;
}
.green:hover {
    background-color: #76ad4c;
    border-bottom: 8px solid #61933b;
    text-shadow: 0px 3px #61933b;
}